<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Postage Rate</title>
  <!--header icon-->
</head>
<body>
  <h1>Calculated Postage</h1>
  <p>Results...</p>
  


  <!--Return button-->
  <a href="postageCalculator.html">Return</a><br>
  <a href="home.html">Home</a>

</body>
</html>