<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/gif/png" href="sicon.png">
  <title>Postage Rate</title>
  
</head>
<body>
  <h1>Calculated Postage</h1>
  <hr>

  <h3>Type: </h3>
  <p><%= type %></p>
  <br>
  <h3>Weight: </h3>
  <p><%= weight %> oz.</p>
  <br>
  <h3>Price:</h3>
  <p><%= rate %></p>


  <br><br>
  <hr>
  <a href="postageCalculator.html">Return</a><br>
  <a href="home.html">Home</a>

</body>
</html>