<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game Results</title>
</head>
<body>
  <h1>Game Results</h1>

  <p>Player Weapon: <%= playWeapon %></p>
  <p>CPU Weapon: <%= cpuWeapon %></p>
  <p>Winner: <%= winner %></p>
</body>
</html>